@charset "utf-8";
/* CSS Document */
@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
#body {
	margin:0;
	background-color: #1e282c;
	font-family:'Droid Arabic Kufi',sans-serif;
	direction:rtl;
}
.login {
	width:100%;
}
.hello {
    text-align: center;
    padding: 20px 0px;
    font-size: 33px;
    font-family: 'raleway',sans-serif;
    color: black;
    font-weight: 900;
}

.login-box {
    width: 35%;
    text-align: center;
    background-color: #fff;
    margin: 50px auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

label {
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
    display: block;
    text-align: left;
    color: #0a1016;
    width: 100%;
}

form {
    width: 70%;
    margin: 0px auto;
    padding: 60px 0px;
}

.input-login {
    width: 100%;
    display: block;
    margin: 10px 0px;
    border-bottom: 2px solid #4285f4;
    outline: none;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 10px 0px;
}

.submit-btn {
    background: #4285f4;
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 20px 0px;
	cursor: pointer;
	outline: none;
}
.errors , .success {
    width: 90%;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 4px;
    font-family: cursive;
    float: left;
}
.errors {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.sidebar {
    width: 20%;
    float: right;
    direction: rtl;
}

.control-bigbox {
    width: 100%;
}
ul li  {
    font-family: 'Droid Arabic Kufi',sans-serif;
}
.data-box {
    width: 80%;
    float: left;
    text-align: center;
}

label {
    text-align: right;
    color: #fff;
	font-family: 'Droid Arabic Kufi',sans-serif;
    font-size: 14px;
}

.form-control {
    text-align: right;
}
.btn-blue {
    background-color: #3c8dbc;
    color: #fff;
}
.table-btn {
    padding: 5px 10px;
    line-height: 40px;
    margin: 5px;
}

thead {
    background-color: #455A64;
    color: #fff;
    font-family: 'raleway',sans-serif;
}
.table-btn {
    padding: 5px 10px;
    line-height: 40px;
    margin: 5px;
    transition: .3s;
}

#table {
	background-color:#fff;
}

thead {
    background-color: #455A64;
    color: #fff;
    font-family: 'raleway',sans-serif;
}

.btn-red {
    background-color: #e74c3c;
    color: #fff;
}

.table-btn:hover {text-decoration: none;color: #fff;}

.btn-red:hover {
    background-color: #f57365;
}

.btn-blue:hover {
    background-color: #66b1dc;
}
.btn-green {
    color: #fff;
    background-color: #2ecc71;
}

.btn-green:hover {
    background-color: #6cd498;
}
.head1 {color:#fff;}
.delete-btn { cursor:pointer;}
.keybox {
    padding: 25px 0px;
    text-align: right;
    color: #fff;
	direction: ltr;
}

.keybox .word {
    padding: 5px 10px;
    background-color: #4CAF50;
    margin: 0px 5px;
}

.keybox .word i {
    cursor: pointer;
}
.search-bar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-bar:focus {
    width: 100%;
}