@import url(//fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
    margin: 0px;
}

.container {
    width: 100%;
    height:auto;
}

.navcontain {
    background-color: #f3f3f3;
}

.navbar {
    width: 90%;
    margin: 0px auto;
    height: 100%;
    border-bottom: 1px solid #cccccc;
}

.navbox {
    width: 100%;
    background: #f3f3f3;
}

#right {
    float: right;
    font-size: 16px;
    font-weight: 600;
    font-family: 'raleway',sans-serif;
}

#right span {
    color: #08152a;
    font-family: 'Bitter',sans-serif;
}

#right, #left {
    padding: 13px 0px;
    color: #989898;
    font-weight: 600;
    font-size: 14px;
}

#left .item {
    margin: 0px 4px;
    text-decoration: none;
    color: #989898;
}
.navfixed {
    width: 100%;
    top: 43px;
    background-color: #f3f3f3;
    height: 90px;
    z-index: 999 !important;
	box-shadow: 0 25px 25px 0 rgba(0,0,0,0.1);
}

.left {
    float: left;
    text-align: center;
    height: 55px;
    width: 85px;
    margin: 17px 80px;
}

.right {
    float: right;
    text-align: center;
    height: 100%;
    width: 70%;
    margin: 0px 45px 0px 0px;
}

.left a {
    display: block;
}

.left a img {
    width: 100%;
    height: 100%;
}

.right .item img {width: 22px;}

.right .item {
    float: right;
    display: inline-block;
    margin: 30px 25px;
    font-size: 16px;
    text-decoration: none;
    color: #08152a;
    font-weight: 900;
    position: relative;
    font-family: 'Droid Arabic Kufi',sans-serif;
}

#image {
    margin: 32px 25px;
}

.navfixed .item::after {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   height: 3px;
   margin-top: 14px;
   transform: scale(0, 1);
   transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
   background: #ffd204;
   content: '';
   transform-origin: right top;
}
.item:hover::after {transform: scale(1, 1);transform-origin: left top;}

.item:hover {
    color: #ffd204;
}
.over {
    width: 100%;
    height: 100%;
    background-color: rgba(8, 21, 42, 0.25);
}

.textbox {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    padding-top: 125px;
	visibility: hidden;
}

.bar {
    height: 100px;
    width: 70%;
    margin: 0px auto;
}
.bar #center {
    width: 65%;
    margin: auto;
    font-size: 60px;
    color: white;
    display: inline-block;
    font-family: 'Droid arabic Kufi';
    font-weight: 900;
    text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.75);
}
.back {
    margin-top: 0px;
    width: 100%;
    height: 600px;
    background: url('../img/intro.jpg');
    background-size: 100%;
    background-position-y: -260px;
}

.over {
    width: 100%;
    height: 100%;
    background-color: rgba(8, 21, 42, 0.25);
}

.textbox {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    padding-top: 125px;
}

.bar {
    height: 100px;
    width: 70%;
    margin: 0px auto;
}

.line {
    width: 14%;
    background: #fff;
    height: 15px;
    display: inline-block;
    margin: 55px 0px;
}

.line.left {
    /* float: left; */
}

.bar #center {
    width: 65%;
    margin: auto;
    font-size: 60px;
    color: white;
    display: inline-block;
    font-family: 'Droid arabic Kufi';
    font-weight: 900;
    text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.75);
}
.center.small {
    width: 65%;
    font-size: 40px;
    color: white;
    display: inline-block;
    font-family: 'Droid arabic Kufi';
    margin: 25px 0px 0px 0px;
    text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.75);
}

#bar {
    margin-top: 100PX;
}
.gobtn {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 60px;
    padding: 0;
    border: 0 solid #08152a;
    border-radius: 30px;
    background: #ffd204;
    color: #08152a;
    font: 700 16px "Droid Arabic Kufi", sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .6s;
}

.gobtn:hover {
    width: 207px;
    background: #fff;
    box-shadow: -23px 33px 50px 0 rgba(0, 0, 0, 0.35);
}
.small-region {
    background-color: #f3f3f3;
    text-align: center;
    color: #08152a;
    padding-top: 180px;
    height: 390px;
}

.small-region h1 {
    font-size: 40px;
    margin: 0px;
    font-weight: 900;
    font-family: sans-serif;
    font-style: oblique;
}

.small-region p {
    font-size: 18px;
    font-family: 'Droid Arabic Kufi';
	color:#989898;
}
.whitearea {
    width: 100%;
    background-color: #fff;
    height: 650px;
}

.section {
    width: 40%;
    display: inline-block;
    margin: -130px 0px 0px 95px;
    height: 600px;
}

.section .image {
    width: 100%;
}

.section .image img {
    width: 100%;
}

#secleft {
    float: right;
    margin: -130px 95px 0px 0px;
}

.title {
    font-size: 24px;
    font-family: 'Droid Arabic Kufi';
    text-align: right;
    color: #08152a;
}

.description {
    font-size: 16px;
    font-family: 'Droid Arabic Kufi';
    color: #989898;
    text-align: right;
}

.section a , .right-text a {text-align: right;margin-top: 10px;display: block;position: relative;padding: 25px 0;border-top: 1px solid #e8e8e8;background: url(../img/arrow.svg) no-repeat left center;background-size: 7px 9px;color: #08152a;font-family: "Droid Arabic Kufi", sans-serif;font-weight: 700;text-decoration: none;transition: .3s;}

.section a strong , .right-text a strong {
    color: #ffd204;
}
.section a::before , .right-text a::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    background: #ffd204;
    content: '';
    transform-origin: right;
}

.section a:hover , .right-text a:hover {
    background: url(../img/arrow-yellow.svg) no-repeat left center;
    background-size: 7px 9px;
}

.section a:hover::before , .right-text a:hover::before {
    transform: scale(1 ,1);
}
#small2 {
    padding-top: 0px;
    text-align: center;
    height: 510px;
    border-bottom: 10px solid #fff;
}
#nomargin {
	margin: -130px auto;
}
#small3 {
    padding-top: 120px;
}
#leftimage {
    width: 40%;
    display: inline-block;
    float: left;
    margin: 0px 30px;
}

#leftimage img {
    width: 100%;
    height: 100%;
}

.right-text {
    width: 50%;
    float: right;
    padding: 60px 60px 0px 0px;
}

.right-text .description {
    padding: 35px 0px;
}

.footer {
    width: 100%;
    height: 330px;
    background-color: #03192b;
	float:left;
}

.footbar {
    height: 70%;
    border-bottom: 1px solid #5d7395;
    text-align: center;
}

.footbar .left {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0px;
}

.footbar .center {
    width: 40%;
    float: left;
    text-align: left;
    margin: 70px 0px 0px 0px;
}

.footbar .right {
    width: 30%;
    height: 100%;
    float: right;
    margin: 0px;
}

.footbar .left img {margin-top: 50px;}

#left-area {
    width: 20%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
}

#right-area {
    width: 80%;
    display: block;
    float: right;
    font-size: 25px;
    font-family: 'Bitter';
    color: white;
    line-height: 35px;
}

.social-item {
    width: 50px;
    height: 50px;
    border: 2px solid #5d7395;
    color: #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 52px;
    font-size: 23px;
    position: relative;
    float: left;
    margin-right: 15px;
    text-decoration: none;
    transition: .3s;
	margin-top: 75px;
}

.social-item:hover {
    border-color: #3eb8cc;
    background: #3eb8cc;
}

.up-btn {
    display: block;
    width: 10%;
    float: right;
}

.up-btn img {
    margin: 23px 0px 0px;
    width: 43px;
    height: 50px;
}

.info {
    width: 90%;
    text-align: center;
    color: #fff;
    line-height: 5;
    font-size: 18px;
    font-family: 'Droid Arabic Kufi','raleway',sans-serif;
}

.info a {
    text-decoration: underline;
    color: #ffd204;
    cursor: pointer;
}
#story {
    background: url(../img/story.jpg);
    background-size: 100%;
    background-position-y: -260px;
}

.centerdover {
    width: 60%;
    margin: 0px auto;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-family: 'droid arabic Kufi';
}

.centerdover.large {
    font-size: 100px;
    padding: 100px 0px 40px 0px;
    border-bottom: 1px solid #fff;
}

.centerdover.little {
    padding: 35px 0px;
    font-size: 16px;
}

.small-region.another-region {
    padding: 35px;
    height: initial;
	float: right;
    width: 100%;
}

.small-region.another-region:nth-child(odd) {
    background-color: #fff;
}

.head {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Bitter','Droid Arabic Kufi',sans-serif;
}
.contact-box {
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 180px;
	float:left;
}

.leftform {
    display: inline-block;
    float: left;
    width: 45%;
    padding: 50px 20px;
    text-align: right;
}

.leftform h1 {
    text-align: right;
}

.form-group {
    width: 100%;
    margin: 10px 0px;
    text-align: right;
}

.form-control {
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-color: #fff;
    color: #08152a;
    background-image: none;
    border: 2px solid #e7e7e7;
    border-radius: 0;
    font: 700 12px "Droid Arabic Kufi", sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0px auto;
    text-align: right;
	outline: none;
	direction: rtl;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control:hover {box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.1);border: 2px solid #e7e7e7;}

.submit-btn {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 60px;
    border: 0 solid #08152a;
    border-radius: 3px;
    background: #ffd204;
    color: #08152a;
    font: 700 14px "Droid Arabic Kufi", sans-serif;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    padding: 0 70px;
}

.submit-btn::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    background: #08152a;
    content: '';
    z-index: -1;
    transform-origin: left top;
}

.submit-btn::before {
    background: #ffd204;
    z-index: -2;
}

.submit-btn::before {
    background: #ffd204;
    z-index: -2;
}

.submit-btn:hover::after {
    transform: scale(1 ,1);
    transform-origin: right top;
}

.submit-btn:hover {
    color: #ffd204;
}
.right-form {
    width: 50%;
    float: right;
    padding-top: 55px;
}

#left-section {
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Droid Arabic Kufi','Bitter',sans-serif;
}

#right-section {
    width: 50%;
    float: right;
    text-align: center;
    font-family: 'Droid Arabic Kufi','Bitter',sans-serif;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
}

#left-section p {
}

#left-section blockquote {
    padding: 5px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.mail {
    color: #3eb8cc;
}
.map {
    width: 70%;
    background: white;
    margin: 10px auto;
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 100%;
}
.input {
}
#opinion {
    background: url(../img/opinion.jpg);
    background-size: 100%;
    background-position-y: -260px;
}
.form span {
    text-align: right;
    font-size: 22px;
}

.form {
    width: 50%;
    margin: 0px auto;
    text-align: right;
}

.radio span {
    font-size: 20px;
    color: #989898;
}

.radio {
    margin: 10px 0px 10px 0px;
	font-family: 'Droid Arabic Kufi',sans-serif;
}
.ptotofolio-box {
    width: 100%;
    padding: 200px 0px 0px 0px;
}
.slidebar {
	height:250px;
}
#proto {
    background: url('../img/protofolio.jpg');
    background-size: 100%;
    background-position-y: -260px;
}
.centerdover {
    visibility: hidden;
}
.errors , .success {
    width: 90%;
    margin: 30px auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 4px;
    font-family: cursive;
    float: left;
}
.errors {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.success {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.errors li {
    float:left;
    margin:3px
}
.product {
    width: 25%;
    background-color: #FFF;
	    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	display: inline-block;
    margin: 30px 25px;
}

a.pimage {
    display: block;
    width: 90%;
    margin: 0px auto;
    padding: 15px 0px;
}

.pimage img {
    width: 100%;
}

.ptitle {
    padding: 10px;
}

.ptitle h1 {
    font-size: 18px;
    font-family: 'Droid Arabic Kufi','Raleway',sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pdes {
    width: 80%;
    margin: 20px auto;
    font-family: 'Droid Arabic Kufi';
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plink {text-align: right;margin-top: 10px;display: block;position: relative;padding: 25px 15px;border-top: 1px solid #e8e8e8;background: url(../img/arrow.svg) no-repeat left center;background-size: 7px 9px;color: #08152a;font-family: "Droid Arabic Kufi", sans-serif;font-weight: 700;text-decoration: none;transition: .3s;background-position-x: 25px;}

.plink::before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    background: #ffd204;
    content: '';
    transform-origin: right;
}

.plink:hover::before {
    transform: scale(1 ,1);
}

.plink:hover {
background: url(../img/arrow-yellow.svg) no-repeat left center;
    background-size: 7px 9px;
	color:#ffd204;
	    background-position-x: 20px;
}

.pleft-image {
    width: 40%;
    display: inline-block;
}

.pright {
    width: 60%;
    float: right;
}

.panel {
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    border-radius: 3px;
    font-family: 'Droid Arabic Kufi','Raleway',sans-serif;
    font-size: 15px;
    color: #333333;
    float: right;
}
.panel h1 {
    font-size: 18px;
    color: #08152a;
	font-family: 'Droid Arabic Kufi','Raleway',sans-serif;
}
.panel strong {
    font-size: 18px;
    color: #08152a;
    float: right;
    direction: rtl;
}

.panel a {
    color: #fff;
    text-decoration: none;
    background-color: #ffd204;
    padding: 8px;
}
.pleft-image img {
    width: 50%;
    margin: 45px 0px;
}
.body {
    width: 90%;
    margin: auto;
    direction: rtl;
}

.panel h1 strong {
    float: none;
}

.article {
    display: block;
    width: 85%;
    margin: 20px auto;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    font-family: 'Droid Arabic Kufi';
}

.Atitle {
    font-size: 24px;
    padding: 20px 0px;
    color: #08152a;
    border-bottom: 1px solid;
}

.Ades {
    color: #989898;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}
.Aregion {
    padding: 0px !important;
}

.Abody {
    padding: 30px;
    background-color: #fff;
    margin: 50px auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.search-bar input {
    width: 95%;
    margin: 0px;
    border: none;
    outline: none;
    background-color: #181719;
    color: #fff;
    padding: 10px 0px;
    text-align: right;
    font-size: 22px;
    font-family: 'Droid Arabic Kufi';
    direction: rtl;
}

.search-bar {
    background-color: #181719;
	display: none;
}
.pregion {
    padding: 0px !important;
    text-align: right;
}

.pregion .head {
    display: block;
    text-align: center;
	margin: 20px 0px 0px 0px;
}

@media (min-width: 320px) and (max-width: 978px) {
	.right {width: 25%;}
	.left {
	margin: 17px 40px;
	}
	.right .item {
		display:none;
	}
	#section2 {
    padding-bottom: 90px;
}
	.small-region {
    height: auto;
}
	.whitearea {
		height:auto;
	}
	
	#small2 {
		height:auto;
	}
	.section {
    width: 90%;
    margin: 130px auto;
    height: auto;
	display: block;
}
	#secleft {
    float: none;
    margin: auto;
}
	#small2 {
		height: auto;
	}
	#nomargin {
    margin: 10px auto;
}
	#leftimage {
    width: 90%;
    display: inline-block;
    float: none;
    margin: 0px auto;
}
	.right-text {
    width: 90%;
    float: right;
    margin: 20px 15px;
    display: block;
}
	.section .image {
    width: 90%;
    margin: 0px auto;
}
	.bar #center {
    width: 100%;
    font-size: 8vw;
    }
	.center.small {
    width: 100%;
    font-size: 6vw;
}
	.bar {
    height: auto;
    width: 80%;
	}
	.line {display: none;}
	#bar {margin-top: 60px;}
	.gobtn {width: 140px;}
	.footer {
    width: 100%;
    height: auto;
    background-color: #03192b;
    float: left;
}
	.footbar {
    height: 70%;
    border-bottom: 1px solid #5d7395;
    text-align: center;
    float: right;
	width: 100%;
}
	.footbar .left {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    margin: 0px;
}
	.footbar .center {
    width: 100%;
    float: left;
    margin: 70px auto 0px auto;
    text-align: center;
}
	.footbar .right {
    width: 100%;
    height: 100%;
    float: right;
    margin: 0px 0px 60px 0px;
    text-align: center;
}
	.social-item {
		        float: none;
                display: inline-block;
	}
	.info {
		    line-height: 3;
            font-size: 8px;
		    width: 100%;
	}
	.up-btn {display: none;}
	.right-text {
		    padding: 0px;
	}
	#left-area {
    height: 100%;
    display: inline-block;
    float: none;
}
	#right-area {
    width: auto;
    display: inline-block;
	float:none;
	}
	.gobtn:hover {
    width: 156px;
    background: #fff;
    box-shadow: -23px 33px 50px 0 rgba(0, 0, 0, 0.35);
}
	#left .item {
    display: none;
}
	.navbar {    height: 40px;}
	.head {
    font-size: 5vw;
	}
	.small-region.another-region {
    padding: 35px 0px;
	}
	.centerdover.large {
    font-size: 10vw;
	}
	.back {
		height: 500px;
		background: url(../img/intro.jpg);
		background-size: 100%;
	}
	.centerdover.little {
	    font-size: 2.2vw;
	}
	.product {
		width:90%;
		margin:30px 0px;
	}
	.pregion {
		text-align:center;
	}
	.Atitle {
		font-size: 5vw;
	}
	.Ades {
		font-size: 3.5vw;
	}
	.contact-box {
		padding-top: 100px;
	}
	.map {
    width: 100%;
	}
	.leftform {
    float: none;
    width: 80%;
	}
	.right-form {
    width: 100%;
	}
	#left-section {
    width: 100%;
	}
	#right-section {
    width: 100%;
	}
}


